<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <h1>The site is being updated. Sorry for the inconvenience</h1>
    </head>
    <body>
        <p> We will be right back.</p>
    </body>
</html>